{% load static %}
<!doctype html>
<html>
  <head>
    <title>Products</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <h2>Product List</h2>

    {% if not data %}
      <h3>No products found 🔍</h3>
    {% endif %}

    <form method="get" style="margin-bottom: 15px;">
      <input type="text" name="name" placeholder="Search product...">
      <button class="btn-custom">Search</button>
    </form>

    <table>
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Vendor</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>

      {% for item in data %}
      <tr class="{% if item.stock < 5 %}low-stock{% endif %}">
        <td>{{ item.product.id }}</td>
        <td>{{ item.product.product_name }}</td>
        <td>{{ item.vendor.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.stock }}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>